.hero {
  background-color: rgba(47, 48, 58, 1);
  text-align: center;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/desktop/Header_d_1x-min.jpg");


@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/desktop/Header_d_2x-min.jpg");
  }

@media screen and (min-width: 481px) and (max-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/tablet/Header_t_1x-min.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/tablet/Header_t_2x-min.jpg");
    }
}

@media screen and (max-width: 480px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile/Header_m_1x-min.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      max-width: 1600px;
      height: 600px;
      margin-left: auto;
      margin-right: auto;
      background-size: cover;
      background-position: center;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/mobile/Header_m_2x-min.jpg");
    }
  }
}
}

.hero__title {
  color: $white-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  outline: white;
  margin-bottom: 30px;
  margin-top: 106px;

  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.615;
  }
}
