.filter__btn {
  color: $black-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  border: 0;
  background-color: $background-color-block;
  border-radius: 4px;
  padding: 6px 22px;
  transition: bacground-color 250ms $timing, color 250ms $timing,
    box-shadow 250ms $timing;

  &--active {
    color: $white-color;
    background-color: $accent-color;
  }

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: color 250ms $timing, bacground-color 250ms $timing,
      color 250ms $timing, box-shadow 250ms $timing;
  }
}

.filter {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
  margin-bottom: 50px;
  justify-content: center;
}

.filter__item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 767px) {
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 15px;
    }
  }
}
